body {
  font-family: Verdana, sans-serif;
}

.container {
  padding-bottom: 65px;
}

.row {
  display: flex;
  display: -webkit-flex;
}

.col-md-5 {
  padding-top: 20px;
}

.left-box {
  border: 1px solid #ccc;
  padding: 10px 0 35px 30px;
  margin-top: 30px;
}

.description {
  font-size: 16px;
}

.paragraph2 {
  margin-top: 10px;
}

.paragraph3 {
  margin-top: 10px;
}

ul {
  padding-top: 25px;
}

li {
  margin-bottom: 10px;
  font-size: 16px;
}

h1 {
  padding-top: 25px;
  color: #666;
}

h2 {
  color: #f07c17;
  font-size: 24px;
}

.title {
  font-size: 48px;
}